        /*--------------------
         Navbar
---------------------*/
        
        ul {
            list-style-type: none;
            float: right;
            margin-right: 8%;
            padding: 0;
        }
        
        li {
            display: inline;
            margin: 25px;
            font-family: 'Vidaloka', serif;
            font-size: 1em;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            text-decoration: underline;
            color: red;
        }
        
        a:link {
            text-decoration: none;
        }
        
        a:visited {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        a:active {
            text-decoration: none;
        }
        
        .logobox {
            height: 10%;
            width: 15%;
            padding: 1%;
            text-align: center;
            margin-left: 10%;
        }
        
        .logobox {
            border-style: solid;
            border-width: 5px;
            border-color: black;
            font-family: 'Vidaloka', serif;
            color: #df6240;
        }
        /*--------------
      Main
----------------*/
        
        .boximage {
            width: 50%;
            padding-top: 8%;
            padding-left: 10%;
        }
        
        #mainp {
            font-family: 'Vidaloka', serif;
            color: #df6240;
            text-align: center;
            font-size: 5em;
            position: relative;
            margin-top: -20%;
            padding-left: 40%;
        }
        
        #secp {
            font-family: 'Paytone One', sans-serif;
            ;
            color: black;
            text-align: center;
            font-size: 3em;
            position: relative;
            margin-top: -5%;
            padding-left: 40%;
        }
        /*--------------
      2nd Sec
----------------*/
        
        .secondsec {
            display: inline;
            padding-top: 30%;
        }
        
        .secleft {
            position: relative;
            float: left;
            width: 50%;
            height: 200px;
            margin-bottom: 10px;
            text-align: left;
            font-size: 20px;
        }
        
        .secright {
            position: relative;
            float: right;
            width: 50%;
            height: 200px;
            margin-bottom: 10px;
            text-align: left;
            font-size: 20px;
        }
        /*--------------
            Thumbnail
        ----------------*/
        
        .floating-box {
            float: left;
            width: 35%;
            height: 100%;
            border: 3px solid white;
        }